
.question-title {
    font-weight: bolder;
}

.correct-answer {
    font-weight: bolder;
    color: green;
}

.question-list {
    list-style-type: none;
}


.reveal-box {
    position: fixed;
    right: 100px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
}